<template name="chat">
    <body>
    {{>header}}
    {{>atForm}}
    {{#if currentUser}}
        <div class="container bootstrap snippet">
            <div class="row">
                <div class="col-md-4 bg-white ">
                    {{>sidemenu}}
                </div>
                {{#if Template.subscriptionsReady}}
                    {{>messages}}
                {{else}}
                    {{>loader}}
                {{/if}}
            </div>
        </div>
    {{/if}}


    </body>
</template>
<template name="sidemenu">
    <aside class="sidebar">
        <div class="side">
        <br/>
        Your ID for peer connection is:<br />
        <span id="peerID" class="blue-color"></span><br/><br />
             <span class="input-group-btn">
        		<button class="btn btn-info " id="addNewGroup" type="button">New Room</button>
        		</span>

            <div class="modal fade" id="newGroupModel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Add new Room</h4>
                        </div>
                        <div class="modal-body">
                            <div class="col-xs-12 col-sm-4">
                                <label for="name">Room name</label>
                                <input type="text" class="form-control" name="groupName" id="groupName"
                                       placeholder="">
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary"
                                id="addGroup">Save changes
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" id="newUserModel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Add user to group</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-xs-12 col-sm-4">
                            <label for="name">User name</label>
                            <input type="text" class="form-control"  id="username"
                                   placeholder="">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary"
                                    id="addGroup">Save changes
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
            </div><!-- /.modal -->
            <!--<div class="modal fade" id="newUserModel">-->
            <!--<div class="modal-dialog" role="document">-->
            <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
            <!--<span aria-hidden="true">&times;</span>-->
            <!--</button>-->
            <!--<h4 class="modal-title">Add user tog group</h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
            <!--<div class="col-xs-12 col-sm-4">-->
            <!--<label for="name">User name</label>-->
            <!--<input type="text" class="form-control"  id="username"-->
            <!--placeholder="">-->
            <!--</div>-->

            <!--</div>-->
            <!--<div class="modal-footer">-->
            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
            <!--<button type="button" class="btn btn-primary"-->
            <!--id="addUser">Save changes-->
            <!--</button>-->
            <!--</div>-->
            <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
            <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
            <!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->

            <h5>Rooms</h5>
            <ul class="friend-list">
                {{#each groups}}
                    <li>
                        <a href="/group/{{_id}}" class="clearfix">
                            <img src="http://www.iconshock.com/img_vista/WINDOWS8/general/jpg/group_icon.jpg" alt=""
                                 class="img-circle">                                 
                                <strong>{{name}}</strong>
                        </a>
                            <div class="friend-name">
                                {{#if isUserInGroup}}
                                    <a href="/group/{{_id}}" id="exitGroup">
                                        Exit
                                    </a>
                                {{else}}
                                    <a href="/group/{{_id}}" id="joinGroup">
                                        Join room
                                    </a>
                                {{/if}}


                            </div>
                    </li>
                {{/each}}
            </ul>
            <h5>People</h5>
            <ul class="friend-list">
                {{#each users}}
                    <li>
                        <a href="/message/{{_id}}" class="clearfix">
                            <img src="https://cdn1.iconfinder.com/data/icons/mix-color-4/502/Untitled-1-512.png" alt=""
                                 class="img-circle">
                            <div class="friend-name">
                                <strong>{{username}}</strong>
                            </div>
                            <!--<div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>-->
                            <!--<small class="time text-muted">5 mins ago</small>-->
                            <!--<small class="chat-alert text-muted"><i class="fa fa-check"></i></small>-->
                        </a>
                    </li>
                {{/each}}
            </ul>

            <h5 >Peer Connections</h5>
            <div class="col-sm-8">
            <input class="form-control border no-shadow no-rounded" type="text" id="otherPeerInput" placeholder="Someone else's ID" style="display:inline-block">
            </div>

            <span class="input-group-btn" >
            <button class="btn btn-info btn-md" id="connectPeer" type="button">Connect</button>
            </span><br />
            <div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" style="width:0">
  </div>
</div>
            {{#if getPeer}}
                <span id="otherPeerID" class="blue-color"></span>
            {{/if}}

            <div id="sharedFiles"> 
            <table>
                    <thead>
                      <tr>
                        <th>Files shared to you:</th>
                      </tr>
                    </thead>
                    <tbody>
                        {{addFile}}
                    </tbody>
                </table></div>
        </div>
    </aside>

</template>


<template name="messages">
    <div class="col-md-8 bg-white ">
      <h5> {{getName}}</h5>            
        <div class="chat-message">

            <ul class="chat">
                {{#each messages}}
                    <li class="{{findClass from}} clearfix">
                    	<span class="chat-img pull-{{findClass from}}">
                    		<img src="https://cdn1.iconfinder.com/data/icons/mix-color-4/502/Untitled-1-512.png"
                                 alt="User Avatar">
                    	</span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">{{user.username}}</strong>
                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{messageTimestamp
                                        createdAt}}
                                </small>
                            </div>
                            <p>
                                {{message}}
                            </p>
                        </div>
                    </li>

                {{/each}}
            </ul>            
        </div>
        <div class="chat-box bg-white">
            <div class="input-group">

                <input class="form-control border no-shadow no-rounded" placeholder="Type your message here" id="messageInput">


                <span id="nameOfFile"></span> 
                <img id="prewimg" src="" />
                <span class="input-group-btn">             
                <label for="attachFile" class="btn"><i class="glyphicon glyphicon-paperclip" aria-hidden="true"></i></label>
                <input id="attachFile" style="visibility:hidden;" type="file">
                </span> 
                
                <span class="input-group-btn">
            			<button class="btn btn-success no-rounded" type="button" id="sendMessage">Send</button>
            	</span>
            </div><!-- /input-group -->
        </div>
    </div>
</template>


<template name='header'>
    <header class="ld-header-bg">
        <div class="ld-menu-bar white-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 hidden-xs hidden-sm ld-logo-container">
                        <div class="ld-logo">
                            <a href="/">
                                <img class=""
                                     src="http://www.myiconfinder.com/uploads/iconsets/256-256-c8b6cbadb620f8b3f588bf53464c8ab9.png"
                                     alt="Chat App" height="40px"/> <h5>Chat App</h5>
                            </a>
                        </div>
                    </div>
                    <div class="visible-xs visible-sm col-xs-4 ld-logo-container">
                        <div class="ld-logo">
                            <a href="/chat">
                                <img src="http://www.myiconfinder.com/uploads/iconsets/256-256-c8b6cbadb620f8b3f588bf53464c8ab9.png"
                                     alt="Chat App" height="40px"/>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-7 col-xs-12 ld-menu-container">
                        <div class="pull-right ld-add-listing-btn">
                            <ul>

                                <i class="glyphicon glyphicon-log-out"></i> <a href="" id="logout">Log out</a>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="md-overlay"></div> <!-- Overlay for Popup -->
    </header>
</template>